@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

[data-tenant-mask='true'] {
  filter: blur(0.35rem);
}
